@import '../utilities/variables';

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    background-image: url('../public/assets/hero__img.png');
    background-repeat: no-repeat;
    background-position: bottom;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;

    .hero__info {
        text-align: center;

        .hero__title {
            letter-spacing: 1.1rem;
            font-size: 3.7rem;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .hero__tagline {
            margin-bottom: 30px;
        }

        .hero__button {
            margin-bottom: 20px;
            padding: 10px 35px;
            color: $tertiary-color;
            border: 1px solid $secondary-color;
            background-color: $secondary-color;
            transition: .5s ease-in-out;
        }

        .hero__button:hover {
            color: $secondary-color;
            border: 1px solid $secondary-color;
            background-color: transparent;
        }
    }
}