@import '../utilities/variables';

.navbar {
    width: 97%;
    height: 65px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: $tertiary-color;
    border-radius: 10px;
    top: 10px;
    left: 1.5%;
    z-index: 1;

    .navbar__list {
        display: flex;
        list-style-type: none;
        
        .navbar__listItems:not(:last-child) {
            margin-right: 60px;
        }
    }
}