@import '../utilities/variables.scss';

.product {
    width: 250px;
    background-color: $tertiary-color;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 5px;
    // object-fit: contain;
    overflow: hidden;

    .product__info {
        padding: 15px;
    }
}

.rectProduct {
    width: 80%;
    display: flex;
    align-items: center;
    background-color: $tertiary-color;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 5px;
    overflow: hidden;

    .rectProduct__info {
        padding-left: 30px;
    }
}