@import '../utilities/variables';

.subscribe {
    width: 100%;
    height: 300px;
    display: grid;
    place-content: center;
    background-color: $tertiary-color;

    .subscribe__title {
        text-align: center;
    }

    .subscribe__form {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        input[type="email"] {
            width: 550px;
            height: 50px;
            padding: 10px 20px;
            outline: none;
            margin-right: 20px;
            border: 1px solid $secondary-color;
        }

        input[type="email"]::placeholder {
            color: $secondary-color;
        }

        input[type="button"] {
            width: 100px;
            height: 50px;
            cursor: pointer;
            border: 1px solid $secondary-color;
            background-color: $secondary-color;
            color: $tertiary-color;
        }

        input[type="button"]:hover {
            background-color: transparent;
            transition: .5s ease-in-out;
            color: $secondary-color;
        }
    }
}